<%- include('./partials/__header.ejs') %>

    <%- include('./partials/__sidebar.ejs') %>
        <%- include('./partials/__navbar.ejs') %>
            <!-- // Header ends -->

            <!-- Card -->
            <section class="card-container">

                <section class="card-heading">
                    <h4>Comments</h4> 
                </section>
                <section class="card-wrapper">


                </section>
<%- include('./partials/__footer.ejs') %>