<%- include('./partials/__header.ejs') %>

<%- include('./partials/__sidebar.ejs') %>
<%- include('./partials/__navbar.ejs') %>

            <!-- // Header ends -->

            <!-- Card -->
             <section class="card-container">
                <section class="card-heading">
                    <h4>Dashboard</h4>
                </section>
                <section class="card-wrapper">

                    <section class="card files-card">
                        <section class="card-title">
                            <h5>Users</h5>
                            <strong>304</strong>
                        </section>
                        <section class="card-body">
                            <i class="fa fa-users"></i>
                        </section>
                    </section>

                    <section class="card audio-card">
                        <section class="card-title">
                            <h5>Article</h5>
                            <strong>524</strong>
                        </section>
                        <section class="card-body">
                            <i class="fa fa-book"></i>
                        </section>
                    </section>

                    <section class="card movies-card">
                        <section class="card-title">
                            <h5>Comments</h5>
                            <strong>67</strong>
                        </section>
                        <section class="card-body">
                            <i class="fa fa-comments"></i>
                        </section>
                    </section>

                    <section class="card images-card">
                        <section class="card-title">
                            <h5>Reply</h5>
                            <strong>920</strong>
                        </section>
                        <section class="card-body">
                            <i class="fa fa-reply"></i>
                        </section>
                    </section>

                </section>
             </section>
             <!-- Card ends -->

             <!-- Chart starts -->
              <section class="chart-container">
                
                <section class="monthly-upload">
                    <h4>User Per Month</h4>
                    <canvas class="chart1" id="chart1">

                    </canvas>
                </section>
                
                <section class="weekly-upload" >
                    <h4>Article Per Week</h4>
                    <canvas class="chart2" id="chart2">

                    </canvas>
                </section>

              </section>


              <section class="chart-container">
                
                <section class="yearly-upload">
                    <h4>Users Per Year</h4>
                    <section class="visual-total">
                        <canvas class="chart4" id="chart4"></canvas>
                    </section>
                </section>
                
                <section class="upload-summary" >
                    <h4>Visual Summary</h4>
                    <section class="visual-total">
                        <canvas class="chart3" id="chart3"></canvas>
                    </section>
                </section>

              </section>

              <!-- Chart ends -->
<%- include('./partials/__footer.ejs') %>