<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Linking custom style sheet -->
  <link rel="stylesheet" href="../css/admin/style.css" />

  <!-- Font Awesome icon link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/fontawesome-free-6.6.0-web/css/all.min.css" />
  <title>
    <%= title %>
  </title>
  <!-- </head> -->

<body>

      <!-- Aside starts here -->
      <aside>

      </aside>
      <!-- Aside ends here -->
  <section class="parent-main-container">
    <!-- Header starts here -->
    <header>

    </header>
    <!-- Header ends here--->
    <!-- Main starts here -->
    <main class="admin-dashboard-main-container">
      <h1>Welcome to Admin Dashbaord</h1>
    </main>
    <!-- Main ends here -->
    <!-- <div style="margin-bottom: 10em; padding: 3em;"></div> -->

    <!-- Footer starts here -->
    <footer>

    </footer>
    <!-- Footer ends here -->
  </section>
</body>
<script defer src="../js/main.js"></script>
<script src="../js/slider.js"></script>
<script src="../js/vendor/jquery/jquery.js"></script>
<script src="../js/vendor/jquery/jquery-validation-1.21.0/dist/jquery.validate.min.js"></script>
<script src="../js/vendor/jquery/validation.js"></script>

</html>