<%- include('./partials/__header.ejs') %>

<%- include('./partials/__sidebar.ejs') %>
<%- include('./partials/__navbar.ejs') %>

            <!-- Profile section starts -->
                    <section class="profile-wrapper-container">

                        <form method="post" class="profile-content-container">

                            <section class="profile-image-section">

                                <section class="profile-img">
                                    <img src="../admin/img/profile.png" alt="user image" srcset="">
                                </section>
                                
                                <section class="profile-description">
                                   <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                </section>

                            </section>

                            <section class="profile-content-section">
                                
                                <p class="username"> @astainy_23445 </p>
                                <p class="fullname"> Christian A. Harris </p>
                                <p class="dob">July 09, 1878</p>
                                <p class="address">Logan Town, Broad Street</p>
                                <p class="email">astainyharris1@gmail.com</p>
                                <p class="password">***********</p>

                                <button type="submit" class="edit-profile"> Edit </button>
                            </section>

                        </form>

                    </section>


            <!-- Profile section ends -->

<%- include('./partials/__footer.ejs') %>