
        <!-- Header starts here -->
        <%- include('./partials/__header.ejs') %>
        <!-- Header ends here--->
        <section class="main-content-container">
            <!-- Sidebar content start -->
                <%- include('../user/partials/__sidebar.ejs') %>
            <!-- Sidebar content ends -->

            <!-- Main content starts here -->
            <main>

                <section class="blog-summary-title">

                    <section class="main-title-text">
                            <a href="/home" class="blog-tagline">
                                <img src="img/pic1.png" alt="Photo of an emotional woman">
                               <span> Professor Astainy joint research on emotional distraction in Liberia women </span>
                            </a>
                            <section class="blog-action-container">
                                <a href="#" class="blog-action-center">
                                    <span class="date">Jan 20, 2025</span> /
                                    <span class="author">By Astainy Harris</span>/
                                    <span class="fa fa-comment comment-count"> &nbsp; 3</span>
                                </a>
                            </section>
                    </section>
                    <p class="blog-summary-main-content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis in, quidem illo esse quos praesentium illum voluptatibus qui repudiandae, maiores culpa omnis ratione aut? Quisquam vel voluptatibus temporibus placeat aspernatur!....
                    </p>
                    <section class="blog-summary-read-more">
                        <a href="/post">Read More</a>
                    </section>
                </section>


                <section class="blog-summary-title second">

                    <section class="main-title-text">
                        <a href="#" class="blog-tagline">
                                <img src="img/pic3.png" alt="Photo of an emotional woman">
                               <span> Professor Tom comments on voluntary recalls by snack brands </span>
                        </a>
                        <section class="blog-action-container">
                            <a href="#" class="blog-action-center">
                                <span class="date">Jan 18, 2025</span> /
                                <span class="author">By Astainy Harris</span>/
                                <span class="fa fa-comment  comment-count"> &nbsp; 2</span>
                            </a>
                        </section>
                    </section>
                    <p class="blog-summary-main-content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis in, quidem illo esse quos praesentium illum voluptatibus qui repudiandae, maiores culpa omnis ratione aut? Quisquam vel voluptatibus temporibus placeat aspernatur!....
                    </p>
                    <section class="blog-summary-read-more">
                        <a href="#">Read More</a>
                    </section>
                </section>


                <section class="blog-summary-title second">

                    <section class="main-title-text">
                        <a href="#" class="blog-tagline">
                                <img src="img/pic2.png" alt="Photo of an emotional woman">
                               <span> A Global MBA for the next generation of business leaders </span>
                        </a>
                        <section class="blog-action-container">
                            <a href="#" class="blog-action-center">
                                <span class="date">Jan 16, 2025</span> /
                                <span class="author">By Astainy Harris</span>/
                                <span class="fa fa-comment  comment-count"> &nbsp; 7</span>
                            </a>
                        </section>
                    </section>
                    <p class="blog-summary-main-content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis in, quidem illo esse quos praesentium illum voluptatibus qui repudiandae, maiores culpa omnis ratione aut? Quisquam vel voluptatibus temporibus placeat aspernatur!....
                    </p>
                    <section class="blog-summary-read-more">
                        <a href="#">Read More</a>
                    </section>
                </section>

            </main>
        </section>
        <div style="margin-bottom: 5em;"></div>
    </section>
   
    <!-- Include footer section -->
     <%- include('../user/partials/__footer.ejs') %>