
      <!-- Header starts here -->
      <%- include('./partials/__header.ejs') %>
      <!-- Header ends here--->

      <!-- Login form -->
      <form action="/user/home" method="post" name="login">
        <h3>Login</h3>

        <section class="input-container">
          <section class="form-control">
            <label for="login-email" class="login-label">Email</label>
            <input
              type="email"
              name="email"
              id="login-email"
              placeholder="Enter Email"
              required
            />
          </section>

          <section class="form-control">
            <label for="login-password" class="login-label">Password</label>
            <input
              type="password"
              name="password"
              id="login-password"
              placeholder="Enter Password"
              required
            />
          </section>

          <!-- <section class="form-control2">
                    <input type="checkbox" id="login-checked-box"> <label for="login-checked-box" class="remember-me">Remember Me!</label>
                </section> -->

          <section class="form-control">
            <input type="submit" id="login-submit-btn" value="Login" />
          </section>
          <section class="addition-text">
            <p>
              Don't have account?
              <a href="/register" id="register-bottom-btn"
                >Register &srarr;
              </a>
            </p>
            <p><a href="/recoveraccount">Reset Password ?</a></p>
          </section>
        </section>
      </form>
      <!-- Login form ends -->
    </section>
    <div style="margin-bottom: 5em"></div>
   
    <!-- Include footer section -->
     <%- include('../user/partials/__footer.ejs') %>