
      <%- include('./partials/__header.ejs') %>
      <!-- Header ends here--->

      <!-- Login form -->
      <form method="post" class="recovery-form" name="recoverPassword" >

        <h3 style="text-align: center;">Password Reset Link Sent</h3>
        <% if (message) { %>
          <div class="alert alert-success">
            <%= message %>
          </div>
        <% } %>
        <p>If the email is registered, a link to reset your password has been sent to your email address.</p>
        <p>Please check your inbox and follow the instructions to reset your password.</p>
        <a href="/login">Go to Login</a>

      </form>
      <!-- Login form ends -->
    </section>


<%- include('../user/partials/__footer.ejs') %>
