
      <!-- Header starts here -->
      <%- include('./partials/__header.ejs') %>
      <!-- Header ends here--->

      <!-- Registration form start -->
      <form action="/login" method="post" name="registration" class="registration-form">
        <h3>Register</h3>

        <section class="input-container">
          <section class="form-control">
            <label for="username" class="registration-label">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter Username"
              required
            />
          </section>

          <section class="form-control">
            <label for="register-email" class="registration-label">Email</label>
            <input
              type="email"
              name="email"
              id="register-email"
              placeholder="Enter Email"
              required
            />
          </section>

          <section class="form-control" class="registration-label">
            <label for="register-password">Password</label>
            <input
              type="password"
              name="password"
              id="register-password"
              placeholder="Enter Password"
              required
            />
          </section>

          <section class="checkbox">
            <input type="checkbox" id="registercheckbox" name="registercheckbox"  />
            <label for="registercheckbox">I agreed to terms.</label>
          </section>

          <section class="form-control">
            <input type="submit" id="register-submit-btn" value="Register" />
          </section>
          <section class="addition-text">
            <p>
              Already have account?
              <a href="/login" id="login-bottom-btn"
                >Login &srarr;
              </a>
            </p>
          </section>
        </section>
      </form>
      <!-- Registration form ends -->
    </section>

    <%- include('../user/partials/__footer.ejs') %>