<div style="margin-bottom: 10em; padding: 3em;"></div>
<section class="scroll-top">
    <a class="top-btn" id="scroll-top-btn"> <span class="fa fa-arrow-up"></span></a>
</section>
<footer>
    <p class="copyright-text">
        &copy; Copyright All Right Reserved <span id="update-year"></span>, <a href="mailto:astainyharris1@gmail.com">astaBlog</a>
    </p>
    <p class="icons">
        <a href="https://www.facebook.com/christian.harris.58555"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/astainyharris1/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Astainy_Harris"><i class="fa-brands fa-x-twitter"></i></a>
    </p>
</footer>
</body>
<script defer  src="../js/main.js"></script>
<script src="../js/slider.js"></script>
<script src="../js/vendor/jquery/jquery.js"></script>
<script  src="../js/vendor/jquery/jquery-validation-1.21.0/dist/jquery.validate.min.js"></script>
<script src="../css/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>

<!-- <script src="stylesheet" href="../css/summernote-0.9.0-dist/summernote.min.js"></script> -->
<script src="../js/vendor/jquery/validation.js"></script>
</html>