<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Linking custom style sheet -->
    <link rel="stylesheet" href="../css/main.css" />
    
    <link rel="stylesheet" href="../css/bootstrap-5.3.3-dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/summernote-0.9.0-dist/summernote.min.css">
    <!-- Font Awesome icon link -->
    <link
      rel="stylesheet"
      href="../css/fontawesome-free-6.6.0-web/css/all.min.css"
    />
    <title><%= title %></title>
    <!-- </head> -->
    <body>
      <section class="main-container" id=":?top">
        <header>
          <section class="nav-container">
            <nav class="header-menu">
              <ul class="header-info">
                <li class="logo-white">
                  <img src="../img/logo/logo-white.png" alt="" />
                </li>
              </ul>
              <ul class="header-account-detail">
                <section class="menu-large">
                  <li><a href="/home">Home</a></li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
                  <li class="drop-down-menu" id="show-menu-btn">
                    <a href="#"
                      id="register-top-btn" style="text-transform: capitalize;"
                    ><%= userInfo %> &nbsp; <i class="fa fa-caret-down "></i></a>
                  </li>
                </section>

                <li class="drop-down-menu" id="mobile-menu-btn">
                  <a id="open-menu-btn"
                    class="fa fa-bars"
                  ></a>
                </li>
              </ul>
            </nav>
            <menu class="mobile-menu-container">
              <section class="close-menu" id="close-menu-btn">
                <span class="fa fa-times"></span>
              </section>
              <ul>
                <li>
                  <a href="/home">Home</a>
                </li>
                <li>
                  <a href="/user/profile">Profile</a>
                </li>
                <li>
                  <a href="/create/article">Write</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </menu>
          </section>
            <ul class="drop-down-items" id="menu">
              <li>
                <a href="/user/profile">Profile</a>
              </li>
              <li>
                <a href="/create/article">Write</a>
              </li>
              <li>
                <a href="/logout">Logout &rarr;</a>
              </li>
            </ul>


            <section class="header-image-container">
              <img name="imageSlider" alt="image slider" />
              <section class="header-title">
                <h1 class="main-header-caption">Voices of Liberia, United in Asta</h1>
                <h2>Where Stories Connect and Conversations Thrive</h2>
              </section>
            </section>

        </header>
        <!-- Header ends here--->
      </section>

