<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Linking external custom style sheet -->
    <link rel="stylesheet" href="../js/ckeditor/style.css">
		<link rel="stylesheet" href="../js/ckeditor/ckeditor5/ckeditor5.css">
		<link rel="stylesheet" href="../js/ckeditor/ckeditor5-premium-features/ckeditor5-premium-features.css">

    <!-- Linking external custom style sheet -->
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Font Awesome icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="./css/fontawesome-free-6.6.0-web/css/all.css"> -->
    <!-- <link rel="stylesheet" href="./css/fontawesome-free-6.6.0-web/css/fontawesome.min.css"> -->
    <link
      rel="stylesheet"
      href="../css/fontawesome-free-6.6.0-web/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="./css/fontawesome-free-6.6.0-web/css/regular.min.css"> -->
    <!-- <link rel="stylesheet" href="./css/fontawesome-free-6.6.0-web/css/brands.min.css"> -->

    <title><%= title %></title>
    <!-- </head> -->
    <body style="background: #f9f9f9;">
      <section class="main-container" >
        <header>
          <section class="nav-container">
            <nav class="header-menu">
              <ul class="header-info">
                <!-- <li>
                <a href="mailto:astainyharris1@google.com"
                  ><i class="fa fa-envelope"></i> asta@blog.org</a
                >
              </li>
              |
              <li>
                <a href="tel:+231770167961"
                  ><i class="fa fa-phone"></i> (+231) 770-167-961</a
                >
              </li> -->

                <li class="logo-white">
                  <img src="../img/logo/logo-white.png" alt="" />
                </li>
              </ul>
              <ul class="header-account-detail">
                <li><a href="/user/home">Home</a></li>
                <li class="drop-down-menu" id="show-menu-btn">
                  <a
                    href="#"
                    id="register-top-btn"
                    class="fa fa-user"
                  ></a>
                </li>
              </ul>
            </nav>
          </section>
            <ul class="drop-down-items" id="menu">
              <li>
                <a href="/user/profile">Profile</a>
              </li>
              <li>
                <a href="/user/article">Write</a>
              </li>
              <li>
                <a href="/login">Logout &rarr;</a>
              </li>
            </ul>

        </header>
        <!-- Header ends here--->
      </section>

