<aside>
    <section class="text-wadget">
        <h2>Summary</h2>
        <p>Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada.</p>
    </section>
    <section class="recent-news">
        <h3>Recent Post</h3>
        <section class="recent-news-container">
            <img src="img/pic1.png" alt="photo of a lady">
            <section class="recent-news-text">
                <h4>
                    <a href="/post">Professor Albert joint research on mobile money in Tanzania</a>
                </h4>
                <section class="recent-news-date-container">
                    <span class="recent-news-date">Jan 20, 2025</span>
                    <span class="recent-news-author">By &nbsp; Astainy Harris</span>
                </section>

            </section>
        </section>

        <section class="recent-news-container">
            <img src="img/pic3.png" alt="photo of a lady">
            <section class="recent-news-text">
                <h4>
                    <a href="#">Professor Tom comments on voluntary recalls by snack brands</a>
                </h4>
                <section class="recent-news-date-container">
                    <span class="recent-news-date">Jan 18, 2025</span>
                    <span class="recent-news-author">By &nbsp; Astainy Harris</span>
                </section>

            </section>
        </section>

        <section class="recent-news-container">
            <img src="img/pic2.png" alt="photo of a lady">
            <section class="recent-news-text">
                <h4>
                    <a href="#">A Global MBA for the next generation of business leaders</a>
                </h4>
                <section class="recent-news-date-container">
                    <span class="recent-news-date">Jan 16, 2025</span>
                    <span class="recent-news-author">By &nbsp; Astainy Harris</span>
                </section>

            </section>
        </section>

        <section class="recent-news-container">
            <img src="img/pic4.jpg" alt="photo of a lady">
            <section class="recent-news-text">
                <h4>
                    <a href="#">WHO general Global Conference for the next generation</a>
                </h4>
                <section class="recent-news-date-container">
                    <span class="recent-news-date">Jan 15, 2025</span>
                    <span class="recent-news-author">By &nbsp; Astainy Harris</span>
                </section>

            </section>
        </section>

    </section>
</aside>