@import url("https://fonts.googleapis.com/css?family=Open+Sans");


html, body, *{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root{

    --background-btn: linear-gradient(to right, #ff105f, #ff00a6);
    --body-background: #fafafa;
    --heading-gray-text-color: #464545; 
    --link-text-color: #343333;
    --container-background-primary: #282727;
    --white-color: #fff;
    --black-color: #000;
    --white-background: #ccc;
}

body{

    font-size: 100%;
    font-family: "open sans", sans-serif;
    background: var(--body-background);
    display: flex;
}

a{
    text-decoration: none;
    color: var(--text-gray-color)
}

h1, h2, h3, h4, h5, h6{
    color: var(--text-gray-color);
}



/* Sidebar Section Starts */

aside{
    position: sticky;
    top: 5%;
    left: 0;
    background-color: var(--white-background);
    padding: 3rem;
    height: 100vh;
    width: 20%;
    min-width: 200px;
}
/* Sidebar Section Ends */

/* Main container */
.parent-main-container{

    padding: 1rem;

}

/* Header Section Starts */

/* Header Section Ends */


/* Main Section Starts */

/* Main Section Ends */



/* Footer Section Starts */

/* Footer Section Ends */
