
      <!-- Header starts here -->
      <%- include('./partials/__header.ejs') %>
      <!-- Header ends here--->
       
      <section class="main-content-container">
        <!-- Sidebar content start -->
        <aside>
          <section class="text-wadget">
            <h2>Summary</h2>
            <p>
              Nulla vitae elit libero, a pharetra augue. Nulla vitae elit
              libero, a pharetra augue. Nulla vitae elit libero, a pharetra
              augue. Donec sed odio dui. Etiam porta sem malesuada.
            </p>
          </section>
          <section class="recent-news">
            <h3>Recent Post</h3>
            <section class="recent-news-container">
              <img src="img/pic1.png" alt="photo of a lady" />
              <section class="recent-news-text">
                <h4>
                  <a href="#"
                    >Professor Albert joint research on mobile money in
                    Tanzania</a
                  >
                </h4>
                <section class="recent-news-date-container">
                  <span class="recent-news-date">Jan 20, 2025</span>
                  <span class="recent-news-author"
                    >By &nbsp; Astainy Harris</span
                  >
                </section>
              </section>
            </section>

            <section class="recent-news-container">
              <img src="img/pic3.png" alt="photo of a lady" />
              <section class="recent-news-text">
                <h4>
                  <a href="#"
                    >Professor Tom comments on voluntary recalls by snack
                    brands</a
                  >
                </h4>
                <section class="recent-news-date-container">
                  <span class="recent-news-date">Jan 18, 2025</span>
                  <span class="recent-news-author"
                    >By &nbsp; Astainy Harris</span
                  >
                </section>
              </section>
            </section>

            <section class="recent-news-container">
              <img src="img/pic2.png" alt="photo of a lady" />
              <section class="recent-news-text">
                <h4>
                  <a href="#"
                    >A Global MBA for the next generation of business leaders</a
                  >
                </h4>
                <section class="recent-news-date-container">
                  <span class="recent-news-date">Jan 16, 2025</span>
                  <span class="recent-news-author"
                    >By &nbsp; Astainy Harris</span
                  >
                </section>
              </section>
            </section>

            <section class="recent-news-container">
              <img src="img/pic4.jpg" alt="photo of a lady" />
              <section class="recent-news-text">
                <h4>
                  <a href="#"
                    >WHO general Global Conference for the next generation</a
                  >
                </h4>
                <section class="recent-news-date-container">
                  <span class="recent-news-date">Jan 15, 2025</span>
                  <span class="recent-news-author"
                    >By &nbsp; Astainy Harris</span
                  >
                </section>
              </section>
            </section>
          </section>
        </aside>
        <!-- Sidebar content ends -->

        <main>
          <section class="blog-summary-title" id="noshadow">
            <section class="main-title-text">
              <a href="/post" class="blog-tagline">
                <img src="img/pic1.png" alt="Photo of an emotional woman" />
                <span>
                  Professor Astainy joint research on emotional distraction in
                  Liberia women
                </span>
              </a>
              <section class="blog-action-container">
                <a href="#" class="blog-action-center">
                  <span class="date">Jan 20, 2025</span> /
                  <span class="author">By Astainy Harris</span>/
                  <span class="fa fa-mesage comment-count"> &nbsp; 3</span>
                </a>
              </section>
            </section>
            <p class="blog-summary-main-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
              in, quidem illo esse quos praesentium illum voluptatibus qui
              repudiandae, maiores culpa omnis ratione aut? Quisquam vel
              voluptatibus temporibus placeat aspernatur!....
            </p>
            <p class="blog-summary-main-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
              repudiandae quos quam? Magnam architecto, animi accusamus aliquid
              neque atque sapiente in vel? Doloribus accusamus esse dicta iure
              sit dolorem dolorum! Eligendi, aliquid ratione. Natus sapiente
              deleniti repellendus, fugiat minus velit quidem tenetur fugit
              facere quod doloremque ea modi non quibusdam sint id labore
              distinctio atque voluptates excepturi dolor doloribus blanditiis?
              Libero amet iusto debitis exercitationem provident? Et iste illum,
              vitae provident facilis tempora repellendus facere similique
              dolores quaerat dolorem obcaecati voluptatum autem iure
              accusantium fugiat possimus porro hic assumenda nobis.
            </p>
          </section>
        </main>
      </section>
    </section>
    <div style="margin-bottom: 5em"></div>

    <%- include('./partials/__footer') %>