<!-- Header starts here -->
<%- include('./partials/__header.ejs') %>
  <!-- Header ends here--->

  <section class="main-content-container" style="background: #fafafa; box-shadow: 0;">
    <!-- Sidebar content start -->
    <!-- Sidebar content ends -->

    <main class="blog-post-main-container">
      <article class="blog-summary-title" id="noshadow">
        <section class="main-title-text">
          <a href="/post" class="blog-tagline">
            <img src="img/pic1.png" alt="Photo of an emotional woman" />
            <span>
              Professor Astainy joint research on emotional distraction in
              Liberia women
            </span>
          </a>
          <section class="blog-action-container" style="margin-bottom: 1rem">
            <a href="#" class="blog-action-center">
              <span class="date">Jan 20, 2025</span> /
              <span class="author">By Astainy Harris</span>/
              <span class="fa fa-comment comment-count"> &nbsp; 3</span>
            </a>
          </section>
        </section>
        <p class="blog-summary-main-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
          in, quidem illo esse quos praesentium illum voluptatibus qui
          repudiandae, maiores culpa omnis ratione aut? Quisquam vel
          voluptatibus temporibus placeat aspernatur!....
        </p>
        <p class="blog-summary-main-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
          repudiandae quos quam? Magnam architecto, animi accusamus aliquid
          neque atque sapiente in vel? Doloribus accusamus esse dicta iure
          sit dolorem dolorum! Eligendi, aliquid ratione. Natus sapiente
          deleniti repellendus, fugiat minus velit quidem tenetur fugit
          facere quod doloremque ea modi non quibusdam sint id labore
          distinctio atque voluptates excepturi dolor doloribus blanditiis?
          Libero amet iusto debitis exercitationem provident? Et iste illum,
          vitae provident facilis tempora repellendus facere similique
          dolores quaerat dolorem obcaecati voluptatum autem iure
          accusantium fugiat possimus porro hic assumenda nobis.
        </p>
        <h5>When, while the lovely valley teems with</h5>
        <p>vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of blist.</p>
        <blockquote><p>I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which</p></blockquote>
        <p>I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquis</p>
        <h6>I throw myself down among the tall grass</h6>
        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and<br>
        <span class="gdlr-core-space-shortcode" style="margin-top: 30px ;"></span>
      </p>
        <span class="gdlr-core-space-shortcode" style="margin-top: 30px ;"></span>
        <h6>Text, that where it came from it</h6>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Littl</p>
        <ul>
        <li>Far far away, behind the word mountain</li>
        <li>When she reached the first hills</li>
        <li>A small river named Duden flows</li>
        <li>A small river named Duden flows by their plat.</li>
        <li>Far far away, behind the word mountain</li>
        </ul>
        <p>Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their plate.</p>
        </div>	</div><!-- kingster-single-article -->
        </article><!-- post-id -->
      </article>
    </main>

  </section>

    <!-- Author section -->
    <section class="author-info-on-post-main-container">
      <section class="author-image-container">
        <img src="../img/author/author8.jpg" alt="Author img">
      </section>
      <section class="author-details">
        <strong>Astainy Harris</strong>
        <p class="author-profession">
          <span>Graphic Designer</span> | 
          <span>Web Developer</span>
        </p>
        <p class="author-bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Nobis modi, iure voluptas.
        </p>
        <section class="social-icon">
          <ul>
            <li>
              <a href="#"
              ><i class="fa-brands fa-facebook-f"></i></a
            ></li>
            <li>
              <a href="#"
              ><i class="fa fa-envelope"></i></a
            ></li>
            <li>
              <a href="#"
              ><i class="fa-brands fa-twitter"></i></a
            ></li>
          </ul>
        </section>
      </section>
    </section>
    <!-- Author section ends -->

  <!-- Recent Post -->
  <section class="recent-post-main-container">
    <h3 class="recent-post-title">Recent Post</h3>
    <section class="recent-post-container">
      <section class="recent-news-container">
        <img src="../img/pic2.png" alt="photo of a lady">
        <section class="recent-news-text">
          <h4>
            <a href="/post">Just a few weeks away to win the big prize from this company</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

      <section class="recent-news-container">
        <img src="../img/pic3.png" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Professor Albert joint research on mobile money in Liberia</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

      <section class="recent-news-container">
        <img src="../img/pic4.jpg" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">UN Doctor offer free treatement for children under 10 years in Liberia</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>


      <section class="recent-news-container">
        <img src="../img/George_Weah.jpg" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Former President George M. Weah speak to the issue concerning</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>


      <section class="recent-news-container">
        <img src="../img/header-bg2.avif" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Advance your tech skill and land a high paying job in the tech envorn</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

    </section>
  </section>
  </section>
  <div style="margin-bottom: 3em"></div>


  <%- include('./partials/__footer') %>