<!-- Header starts here -->
<%- include('./partials/__header.ejs') %>
  <!-- Header ends here--->

  <section class="main-content-container" style="background: #fafafa; box-shadow: 0;">
    <!-- Sidebar content start -->
    <!-- Sidebar content ends -->

    <main class="blog-post-main-container">
      <article class="blog-summary-title" id="noshadow">

        <section class="main-title-text">
          <a href="/post" class="blog-tagline">
            <img src="img/pic1.png" alt="Photo of an emotional woman" />
            <span>
              Professor Astainy joint research on emotional distraction in
              Liberia women
            </span>
          </a>
          <section class="blog-action-container" style="margin-bottom: 1rem; display: flex; gap: 3rem;">
            <a href="#" class="blog-action-center">
              <span class="date blog-action-center">Jan 20, 2025</span></a> /
            <a href="/user/viewprofile" class="blog-action-center"><span class="author">By Astainy Harris</span></a> /
            <a href="#comments" class="blog-action-center"><span class="fa fa-comment comment-count"> &nbsp;
                5</span></a>

          </section>
        </section>

        <p class="blog-summary-main-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
          in, quidem illo esse quos praesentium illum voluptatibus qui
          repudiandae, maiores culpa omnis ratione aut? Quisquam vel
          voluptatibus temporibus placeat aspernatur!....
        </p>

        <p class="blog-summary-main-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
          repudiandae quos quam? Magnam architecto, animi accusamus aliquid
          neque atque sapiente in vel? Doloribus accusamus esse dicta iure
          sit dolorem dolorum! Eligendi, aliquid ratione. Natus sapiente
          deleniti repellendus, fugiat minus velit quidem tenetur fugit
          facere quod doloremque ea modi non quibusdam sint id labore
          distinctio atque voluptates excepturi dolor doloribus blanditiis?
          Libero amet iusto debitis exercitationem provident? Et iste illum,
          vitae provident facilis tempora repellendus facere similique
          dolores quaerat dolorem obcaecati voluptatum autem iure
          accusantium fugiat possimus porro hic assumenda nobis.
        </p>
        <h5> When, while the lovely valley teems with </h5> <br>
        <p class="blog-summary-main-content">
          vapour around me, and the meridian sun strikes the upper surface of the
          impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself
          down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants
          are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the
          countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed
          us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us
          in an eternity of blist.

        </p> <br>
        <blockquote>
          <p>
            I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my
            entire soul, like these sweet mornings of spring which

          </p>
        </blockquote>
        <p class="blog-summary-main-content">
          I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my
          entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the
          charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear
          friend, so absorbed in the exquis

        </p>
        <br>

        <h6>I throw myself down among the tall grass</h6> <br>

        <p class="blog-summary-main-content">
          I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a
          greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun
          strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the
          inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the
          earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks,
          and grow familiar with the countless indescribable forms of the insects and
          <br>
        </p>

        <h6>Text, that where it came from it</h6> <br>

        <p class="blog-summary-main-content">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
          small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
          has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not
          to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Littl
        </p>
        <br>
        <ul>
          <li>Far far away, behind the word mountain</li>
          <li>When she reached the first hills</li>
          <li>A small river named Duden flows</li>
          <li>A small river named Duden flows by their plat.</li>
          <li>Far far away, behind the word mountain</li>
        </ul>
        <br>

        <p class="blog-summary-main-content">
          Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they
          abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using
          her.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
          ocean. A small river named Duden flows by their plate.
        </p>
      </article>
    </main>

  </section>

  <!-- Author section -->
  <section class="author-info-on-post-main-container" id="author">
    <section class="author-image-container">
      <a href="/user/viewprofile"><img src="../img/author/author8.jpg" alt="Author img"></a>
    </section>
    <section class="author-details">
      <strong>Astainy Harris</strong>
      <p class="author-profession">
        <span>Graphic Designer</span> |
        <span>Web Developer</span>
      </p>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nobis modi, iure voluptas.
      </p>
      <section class="social-icon">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Author section ends -->
  <!-- <section class="divider"></section> -->
  <section class="previous-and-next-btn">
    <section class="previous"> <a href="#" class="fa fa-arrow-left"> &nbsp; Previous</a></section>
    <section class="next"> <a href="#" class="fa fa-arr"> Next &nbsp;<span class="fa fa-arrow-right"></span> </a>
    </section>
  </section>
  <!-- <section class="divider"></section> -->

  <!-- Comment section starts -->
  <form class="comment-section-container">
    <legend>Leave a Reply</legend>
    <section class="form-control-main-container">
      <section class="comment-form-control">
        <textarea class="comment-textarea" name="comment" id="comment-area" cols="50" rows="10"
          placeholder="Write your reply to this post"></textarea>
      </section>
      <section class="comment-form-control">
        <input type="submit" value="Submit">
      </section>
    </section>
  </form>
  <!-- Comment section ends -->
  <!-- Comment counts starts -->
  <section class="comments-count" id="comments">
    <p>Comments (5)</p>
  </section>
  <!-- Comment counts ends -->
  <!-- Commented start -->
  <section class="commentted-message-container">
    <section class="author-image-container">
      <img src="../img/author/author8.jpg" alt="Author img">
    </section>
    <section class="author-details">
      <strong>Astainy Harris</strong>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod numquam ducimus assumenda velit cumque architecto
        hic nobis voluptate enim, aspernatur in delectus vitae exercitationem porro fuga placeat? Temporibus, eum
        voluptate.
      </p>
      <section class="social-icon">
        <ul>
          <!-- <li>
              <a href="#"
              ><i class="fa-brands fa-facebook-f"></i></a
            ></li> -->
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>4</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>1</a>
          </li>

          <li>
            <a class="reply-btn" style="cursor: pointer;">- <i>Reply</i> </a><span class="county-reply">(1)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>

  <!-- Reply form starts -->
  <form action="/user/post" method="post" class="reply-form-container" id="reply-form">
    <textarea name="reply" id="reply" cols="30" rows="7" placeholder="Write reply here" required></textarea>
    <section class="submit-reply-container">
      <button type="button" id="reply-cancel-btn">Cancel</button>
      <button type="submit" id="reply-submit-btn">Reply</button>
    </section>

  </form>
  <!-- Reply form ends -->
  <!-- Commented ends -->

  <!-- Reply section starts -->
  <section class="reply-comment">
    <section class="author-image-container">
      <img src="../img/author/author6.png" alt="Author img">
    </section>
    <section class="author-details">
      <section class="reply-author-names">
        <em>- Blessing Doe</em> &nbsp; <span>replies to &nbsp;<em>@Astainy Harris</em></span>
      </section>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod numquam ducimus assumenda velit cumque architecto
        hic nobis voluptate enim, aspernatur in delectus vitae exercitationem porro fuga placeat? Temporibus, eum
        voluptate.
      </p>
      <section class="social-icon">
        <ul>
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>2</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>0</a>
          </li>

          <li>
            <a class="reply-btn">- <i>Reply</i> </a><span class="count-reply">(0)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Reply to section ends -->

  <!-- Commented start -->
  <section class="commentted-message-container">
    <section class="author-image-container">
      <img src="../img/author/author7.png" alt="Author img">
    </section>
    <section class="author-details">
      <strong>Abraham Kekeleh</strong>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quasi ratione dolorem. Alias deserunt, non,
        pariatur nulla sit quam cupiditate rem ipsam dolorum veritatis, ullam quos sapiente ab dolor hic!
        Tenetur incidunt praesentium quas eum. Excepturi voluptates ratione fugiat optio est possimus nemo dignissimos,
        ex consequatur quas eaque laboriosam quis distinctio molestias itaque, modi delectus voluptate officiis autem
        ipsa incidunt.
      </p>
      <section class="social-icon">
        <ul>
          <!-- <li>
              <a href="#"
              ><i class="fa-brands fa-facebook-f"></i></a
            ></li> -->
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>0</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>0</a>
          </li>

          <li>
            <a class="reply-btn">- <i>Reply</i> </a><span class="county-reply">(0)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Commented ends -->

  <!-- Commented start -->
  <section class="commentted-message-container">
    <section class="author-image-container">
      <img src="../img/author/author2.png" alt="Author img">
    </section>
    <section class="author-details">
      <strong>Momodu Kumeh</strong>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quasi ratione dolorem. Alias deserunt, non,
        pariatur nulla sit quam cupiditate rem ipsam dolorum veritatis, ullam quos sapiente ab dolor hic!
        Tenetur incidunt praesentium quas eum. Excepturi voluptates ratione fugiat optio est possimus nemo dignissimos,
        ex consequatur quas eaque laboriosam quis distinctio molestias itaque, modi delectus voluptate officiis autem
        ipsa incidunt.
      </p>
      <section class="social-icon">
        <ul>
          <!-- <li>
              <a href="#"
              ><i class="fa-brands fa-facebook-f"></i></a
            ></li> -->
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>1</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>0</a>
          </li>

          <li>
            <a class="reply-btn">- <i>Reply</i> </a><span class="county-reply">(2)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Commented ends -->

  <!-- Reply section starts -->
  <section class="reply-comment">
    <section class="author-image-container">
      <img src="../img/author/author1.jpeg" alt="Author img">
    </section>
    <section class="author-details">
      <section class="reply-author-names">
        <em>- James T. Graffithes</em> &nbsp; <span>replies to &nbsp;<em>@Momodu Kumeh</em></span>
      </section>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, adipisci ad dolore cupiditate quo quibusdam unde
        totam architecto dicta cum. Beatae doloremque autem illum eius at sequi sunt distinctio quis.
        Temporibus illum praesentium, iusto recusandae dignissimos commodi cum, ea error eius in tempora rerum similique
        sed dolore aliquid expedita fugit porro iure maiores qui amet non! Dicta ut debitis veniam!

      </p>
      <section class="social-icon">
        <ul>
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>3</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>0</a>
          </li>

          <li>
            <a class="reply-btn">- <i>Reply</i> </a><span class="count-reply">(0)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Reply to section ends -->

  <!-- Reply section starts -->
  <section class="reply-comment">
    <section class="author-image-container">
      <img src="../img/author/author4.png" alt="Author img">
    </section>
    <section class="author-details">
      <section class="reply-author-names">
        <em>- John Clark</em> &nbsp; <span>replies to &nbsp;<em>@Momodu Kumeh</em></span>
      </section>
      <p class="author-bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod numquam ducimus assumenda velit cumque architecto
        hic nobis voluptate enim, aspernatur in delectus vitae exercitationem porro fuga placeat? Temporibus, eum
        voluptate.
      </p>
      <section class="social-icon">
        <ul>
          <li>
            <a href="#"><i class="fa fa-thumbs-up"></i>2</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-thumbs-down"></i>0</a>
          </li>

          <li>
            <a class="reply-btn">- <i>Reply</i> </a><span class="count-reply">(0)</span>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <!-- Reply to section ends -->

  <section class="read-more-comments">
    <p> <a href="">See More Comments...</a></p>
  </section>
  <div style="margin-bottom: 10em"></div>
  <div style="margin-bottom: 16em"></div>

  <!-- Recent Post -->
  <section class="recent-post-main-container">
    <h3 class="recent-post-title">Recent Post</h3>
    <section class="recent-post-container">
      <section class="recent-news-container">
        <img src="../img/pic2.png" alt="photo of a lady">
        <section class="recent-news-text">
          <h4>
            <a href="/post">Just a few weeks away to win the big prize from this company</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

      <section class="recent-news-container">
        <img src="../img/pic3.png" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Professor Albert joint research on mobile money in Liberia</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

      <section class="recent-news-container">
        <img src="../img/pic4.jpg" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">UN Doctor offer free treatement for children under 10 years in Liberia</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>


      <section class="recent-news-container">
        <img src="../img/George_Weah.jpg" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Former President George M. Weah speak to the issue concerning</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>


      <section class="recent-news-container">
        <img src="../img/header-bg2.avif" alt="photo of a lady">

        <section class="recent-news-text">
          <h4>
            <a href="/post">Advance your tech skill and land a high paying job in the tech envorn</a>
          </h4>
          <section class="recent-news-date-container">
            <span class="recent-news-date">Jan 20, 2025</span>
            <span class="recent-news-author">By &nbsp; Astainy Harris</span>
          </section>

        </section>
      </section>

    </section>
  </section>
  </section>


  <script defer>
    const replyBtn = document.querySelector('.reply-btn');
    const replyForm = document.querySelector('#reply-form');
    const replySubmitBtn = document.querySelector('#reply-submit-btn');
    const replyCancelBtn = document.querySelector('#reply-cancel-btn')

    replyBtn.addEventListener('click', () => {
      replyForm.style.display = 'flex';
      console.log(replyBtn);
    })

    replySubmitBtn.addEventListener('click', () => {
      replyForm.style.display = 'none';
    });

    replyCancelBtn.addEventListener('click', () => {
      replyForm.style.display = 'none';
    });

  </script>
  <%- include('./partials/__footer') %>