
      <!-- Header starts here -->
      <%- include('./partials/__profileheader.ejs') %>
      <!-- Header ends here--->
       
      <section class="main-profile-container"  id="main-container"style="background: #f9f9f9;">
        <!-- Sidebar content start -->
        <h1> </h1>

        <section class="user-profile-main-container">

          <section class="user-profile-image">
            <section class="profile-image">
              <img src="../img/author/author8.jpg" alt="User profile image">
            </section>
            <section class="user-primary-info">            
              <p><strong>Full Name</strong> <br> Christian Astainy Harris</p>
              <p><strong>Username</strong> <br> @Astainy</p>
              <section><strong>Profession</strong> <br><span>Graphic Designer</span> | <span>Web Developer</span></section>
            </section>
            
            <section class="social-icon">
              <ul>
                <li>
                  <a href="#"
                  ><i class="fa-brands fa-facebook-f"></i></a
                ></li>
                <li>
                  <a href="#"
                  ><i class="fa fa-envelope"></i></a
                ></li>
                <li>
                  <a href="#"
                  ><i class="fa-brands fa-twitter"></i></a
                ></li>
              </ul>
            </section>

            <section class="edit-profile-btn">
              <a href="/edit/profile">Edit Profile</a>
            </section>
          </section>

          <section class="user-profile-info">

            <section class="bio">
              <strong>Bio</strong>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis nemo asperiores similique eius ipsam magni sunt, ratione consequatur, voluptatem incidunt repudiandae nesciunt accusamus quidem eum voluptate eveniet sequi ducimus odio?</p>
            </section>
            
            <p><strong>Address</strong> <br><address>Logan Town Broad Street, Bushrod Island, Monrovia, Liberia</address></p>
          </section>
          
        </section>

      </section>
    </section>
  

    <%- include('./partials/__profilefooter') %>