
      <!-- Header starts here -->
      <%- include('./partials/__header.ejs') %>
      <!-- Header ends here--->
       
      <section class="main-content-container">
        <!-- Sidebar content start -->
        <h1> Welcome to profile section</h1>
      </section>
    </section>
    <div style="margin-bottom: 5em"></div>

    <%- include('./partials/__footer') %>