
<div class="bottom-space"></div>

<!-- Footer starts -->
 <footer>
  <p class="footer-info">
      <span>System Developed by <a href="https://mail.google.com/mail/?view=cm&fs=1&to=astainyharris1@email.com">Astainy</a></span>
      <!-- <i class="fa fa-fa"></i> -->
  </p>
 </footer>
 <!-- Footer ends -->
</section>
</section>
<!-- Modal start -->

<section class="logout-modal-backdrop">
  <section class="modal-content">
      <section class="modal-header">
          <h4>Logout</h4>
          <span class="fa fa-times" id="times-btn"></span>
      </section>
      <section class="modal-body">
          <p>
              Ready to destroy your session? Click "Logout".
          </p>
      </section>
      <section class="modal-footer">
          <a href="#" class="logout-btn">Logout</a>
          <a class="cancel-btn" id="logout-cancel-btn">Cancel</a>
      </section>
  </section>
</section>

<!-- Modal ends -->

<!-- upload file button -->
<section class="upload-file-btn-container">
<a href="./uploadfile.html">
  <i class="fa fa-plus fw-5"></i>
</a>
</section>

<!-- External script -->
<script type="module" src="./js/plugins/node_modules/chart.js/dist/chart.umd.js"></script>
<script src="./js/script.js"></script>

</body>
</html>