<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../admin/css/adminlte.min.css">
    <!-- custom style sheet -->
     <link rel="stylesheet" href="../admin/css/style.css">

     <!-- External style sheet -->
     <link rel="stylesheet" href="../admin/css/dataTables.bootstrap4.min.css">
     <link rel="stylesheet" href="../admin/css/responsive.bootstrap4.min.css">
     <!-- Font awesome -->
      <link rel="stylesheet" href="../admin/css/fontawesome-free-6.6.0-web/css/fontawesome.min.css">
      <link rel="stylesheet" href="../admin/css/fontawesome-free-6.6.0-web/css/all.min.css">
      <link rel="stylesheet" href="../admin/css/fontawesome-free-6.6.0-web/css/all.css">
      <link rel="stylesheet" href="../admin/css/fontawesome-free-6.6.0-web/css/brands.min.css">
    <title><%= title %></title>
</head>
<body>

    <section class="main-wrapper-container">
        