
            <!-- Main container -->
            <section class="main-container">

                <!-- Header starts -->
                <header class="main-content-container">
    
                    <menu class="menu-search-container" >
                        <span class=" fa fa-bars menu-btn" id="toggle-btn"></span>
                        <section id="example1_filter" class="search-icon dataTables_filter">
                            <span class="fa fa-search "></span>
                            <input type="search" name="search" id="search-box" placeholder="Search " aria-controls="example1">
                        </section>
                        <!-- <section><a href="/home" style="text-decoration: none; color: gray;">Visti Site &srarr; </a></section> -->
                    </menu>
    
    
                    <section class="profile">
                        <span id="profile-img">
                           <% if(userInfo?.profile_picture) { %>
                            <img src="<%= '../uploads/profile/admin/' + userInfo.profile_picture %>" alt="user">
                            <% } else { %>
                            <img src="../img/author/default_profile_image.jpg" alt="<%= userInfo.username %> image">
                            <% } %>
                        </span>
                        <div class="profile-details">
                            <ul>
                                <li>
                                    <a href="/asta-admin/profile">Profile</a>
                                </li>
                                <li class="profile-divider"></li>
                                <li>
                                    <a href="#" id="profile-logout">Logout</a>
                                </li>
                            </ul>
                        </div>
    
                    </section>
                </header>