<!-- sidebar starts -->
<aside class="sidebar-container">
    <div class="logo">
        <h4>
            <a href="dashboard.html">astaDrive</a>
        </h4>
        <section class="mobile-menu" id="close-sidebar">
            <span class="fa fa-times"></span>
        </section>
    </div>
    <div class="divider"></div>
    
    <ul class="menu">
        <li class="active">
            
            <a href="dashboard.html">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span> 
            </a>
        </li>
        <li>
            
            <a href="file.html">
                <i class="fa fa-file"></i>
                <span>File</span>
            </a>
        </li>
        <li>
            
            <a href="audio.html">
                <i class="fa fa-music"></i>
                <span>Audio</span>
            </a>
        </li>
        <li>
            
            <a href="movie.html">
                <i class="fa fa-film"></i>
                <span>Movies</span>
            </a>
        </li>
        <li>
            <a href="image.html">
                <i class="fa fa-images"></i>
                <span>Images</span>
            </a>
        </li>
        <li>
            <a href="uploadfile.html">
                <i class="fa fa-upload"></i>
                <span>Upload File</span>
            </a>
        </li>
        
        <li class="help">
            <a href="mailto:astainyharris1@gmail.com">
                <i class="fa fa-question-circle"></i>
                <span> Help?</span>
            </a>
        </li>
    </ul>
    
</aside>
<!-- sidebar ends -->