<!-- sidebar starts -->
<aside class="sidebar-container">
    <div class="logo">
        <h4>
            <a href="/asta-admin">astaBlog</a>
        </h4>
        <section class="mobile-menu" id="close-sidebar">
            <span class="fa fa-times"></span>
        </section>
    </div>
    <div class="divider"></div>
    
    <ul class="menu">
        <li class="active">
            
            <a href="/asta-admin">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span> 
            </a>
        </li>
        
        <li>
            
            <a href="/asta-admin/articles">
                <i class="fa fa-book"></i>
                <span>Article</span>
            </a>
        </li>
        <li>
            
            <a href="/asta-admin/comments">
                <i class="fa fa-comments"></i>
                <span>Comments</span>
            </a>
        </li>
        <li>
            <a href="/asta-admin/replies">
                <i class="fa fa-reply"></i>
                <span>Reply</span>
            </a>
        </li>
        <li>
            
            <a href="/asta-admin/users">
                <i class="fa fa-users"></i>
                <span>Users</span>
            </a>
        </li>
        <!-- <li>
            <a href="uploadfile.html">
                <i class="fa fa-upload"></i>
                <span>Settings</span>
            </a>
        </li> -->
        
        <li class="help">
            <a href="mailto:astainyharris1@gmail.com">
                <i class="fa fa-gear"></i>
                <span> Settings</span>
            </a>
        </li>
    </ul>
    
</aside>
<!-- sidebar ends -->