<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Linking custom style sheet -->
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/errStyle.css">
  <!-- Font Awesome icon link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="../css/fontawesome-free-6.6.0-web/css/all.min.css" />


  <title>
    <%= title %>
  </title>
  <!-- </head> -->

<body>
  <section class="main-container" id=":?top">
    <header>
      <section class="nav-container">
        <nav class="header-menu">
          <ul class="header-info">
            <li class="logo-white">
              <img src="../img/logo/logo-white.png" alt="" />
            </li>
            <li class="contact-email">
              <a href="mailto:astainyharris1@google.com"><i class="fa fa-envelope"></i> asta@blog.org</a> &nbsp; &nbsp; |
            </li>
           
            <li class="contact-number">
              <a href="tel:+231770167961"><i class="fa fa-phone"></i> (+231) 770-167-961</a>
            </li>

          </ul>
          <ul class="header-account-detail">
            <li><a href="/">Home</a></li>

          </ul>
        </nav>
      </section>
      <section class="header-image-container">
        <img name="imageSlider" alt="image slider" />
        <section class="header-title-404">
          <!-- <h1 class="main-header-caption">404 Page
           </h1> -->
          <h2> Oops! Page Not Found</h2>
        </section>
      </section>

    </header>
    <!-- Header ends here--->
  </section>

  <section class="error-container">
    <h1>404</h1>
    <p>We’re sorry, the page you have looked for does not exist in our website! <br> Maybe go to our home page or try to use a search?</p>
    <section class="back-home">
      <a href="/">Go Back Home &rarr;</a>
    </section>
  </section>


  <div style="margin-bottom: 10em; padding: 3em;"></div>
  <section class="scroll-top">
    <a href="#:?top" class="top-btn"> <span class="fa fa-arrow-up"></span></a>
  </section>
  <footer>
    <p class="copyright-text">
      &copy; Copyright All Right Reserved <span id="update-year"></span>, <a
        href="mailto:astainyharris1@gmail.com">astaBlog</a>
    </p>
    <p class="icons">
      <a href="https://www.facebook.com/christian.harris.58555"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/astainyharris1/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Astainy_Harris"><i class="fa-brands fa-x-twitter"></i></a>
    </p>
  </footer>
</body>
<script defer src="../js/main.js"></script>
<script src="../js/slider.js"></script>
<script src="../js/vendor/jquery/jquery.js"></script>
<script src="../js/vendor/jquery/jquery-validation-1.21.0/dist/jquery.validate.min.js"></script>
<script src="../js/vendor/jquery/registration-validation.js"></script>
<script src="../js/vendor/jquery/login-validation.js"></script>

</html>